<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>L33t Speak</title>
    </head>
    <body>
        <form action="/translate" method="post">
            <label>Enter your word or phrase here:</label>
            <input type="text" name="phrase">

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
