<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PING PANG</title>
    </head>
    <body>
        <div id="PingPongForm">
            <form action="/max-number" method="post">
                <label>Set your number to be counted to here:</label>
                <input type="text" name="number">
            </form>
        </div>
    </body>
</html>
